@model IEnumerable<ToDoList.App.Models.ToDoTask>
@{
}
<h1>ToDo-List</h1>
<div class="d-flex justify-content-end">
    <a class="btn btn-primary"
        href="@Url.Action("Create","ToDo")">Create Task</a>
</div>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Priority</th>
            <th>Task</th>
            <th>Completed</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Priority</td>
                <td>@item.TaskDescription</td>
                <td>@(item.IsCompleted?"Yes":"No")</td>
                <td>
                    <a class="btn btn-light" href="@Url.Action("Edit","ToDo",new{id = item.Id})">Edit</a> 
                    
                </td>
            </tr>
        }
    </tbody>
</table>
